fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
google-genai
pydantic[email]
python-multipart
reportlab
PyMuPDF
groq
